<div class="logo-container">
  <h1 class="text-center logo"><a routerLink="">Larbonne</a></h1>
  <hr />
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li
          class="nav-item"
          *ngFor="let category of categoryService.categories"
        >
          <a
            class="nav-link"
            [routerLink]="['/category', category.title | lowercase]"
            name="category"
            routerLinkActive="active"
            ([ngModel])="(category.title)"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="categoryService.changeCategory(category.title)"
            >{{ category.title }}</a
          >
        </li>
      </ul>

      <!-- Right Side Of Navbar -->
      <ul class="nav navbar-nav navbar-right d-flex">
        <!-- Authentication Links -->
        <!-- if guest -->
        <li class="nav-item">
          <a
            class="nav-link position-relative me-3"
            routerLink="/cart"
            routerLinkActive="active"
            ><i class="pi pi-shopping-cart"></i
            ><span
              class="
                position-absolute
                top-25
                start-100
                translate-middle
                badge
                rounded-pill
                bg-danger
              "
              >{{ cartService.getTotalQuantity() }}</span
            ></a
          >
        </li>
        <li class="nav-item" *ngIf="!authService.isLoggedIn()">
          <a class="nav-link" routerLink="/login" routerLinkActive="active"
            >Login</a
          >
        </li>
        <li class="nav-item" *ngIf="!authService.isLoggedIn()">
          <a class="nav-link" routerLink="/register" routerLinkActive="active"
            >Register</a
          >
        </li>
        <!-- else -->
        <li class="nav-item dropdown" *ngIf="authService.isLoggedIn()">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            type="button"
            aria-expanded="false"
            id="dropdownMenu"
          >
            {{ authService.getUsername() }} <span class="caret"></span>
          </a>

          <ul
            class="dropdown-menu dropdown-menu-end"
            role="menu"
            aria-labelledby="dropdownMenu"
          >
            <li *ngIf="authService.isLoggedIn() && authService.isAdmin()">
              <a class="nav-link" routerLink="/admin" routerLinkActive="active"
                >Dashboard</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink=""
                (click)="onLogout()"
                class="dropdown-item"
                >Logout</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
