.logo-container {
  max-width: 80%;
  margin: 0 auto;
}

.logo {
  font-family: trench;
  color: #333;
  font-size: 15rem;
  a {
    color: #333;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    font-size: 5rem;
  }

  @media (min-width: 768px) and (max-width: 1199.98px) {
    font-size: 10rem;
  }
}
