<div class="container">
  <div class="row d-flex justify-content-end mb-4">
    <div class="col-12 col-md-6 col-lg-4">
      <input
        id="search"
        type="text"
        class="form-control"
        name="search"
        placeholder="Search..."
        [(ngModel)]="searchText"
        required
      />
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2 g-lg-3">
    <div
      class="col mb-3"
      *ngFor="
        let product of productService.products
          | category: categoryService.category
          | search: searchText
      "
    >
      <div class="card">
        <a [routerLink]="['/product', product.id]"
          ><img
            class="card-image-top w-100"
            src="{{ url + 'storage/' }}{{
              product.image ?? 'images/No_image_available.png'
            }}"
        /></a>
        <div class="card-body">
          <h3>{{ product.title }}</h3>
          <p *ngIf="product.description">
            {{ product.description.split("\n")[0] }}
          </p>
          <div class="ribbon" *ngIf="product.discount > 0">
            <span>{{ -product.discount }}%</span>
          </div>
          <div class="d-flex justify-content-between align-items-end">
            <div class="price">
              <div
                class="full-price fs-6"
                [style.visibility]="product.discount > 0 ? 'visible' : 'hidden'"
              >
                {{ product.price | currency: "EUR":"symbol":"1.2-2" }}
              </div>
              <div class="discount-price fs-5 fw-bold">
                {{
                  cartService.getDiscountPrice(product)
                    | currency: "EUR":"symbol":"1.2-2"
                }}
              </div>
            </div>
            <button
              type="button"
              class="btn btn-success cart"
              (click)="addToCart(product)"
            >
              <i class="fa fa-shopping-cart" aria-hidden="true"></i
              ><span class="glyphicon glyphicon-shopping-cart"></span>Add to
              cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
