<h3 class="text-center">Products</h3>

<div className="datatable-crud">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="openNew()"
      ></button>
    </ng-template>

    <ng-template pTemplate="right">
      <p-fileUpload
        mode="basic"
        accept="image/*"
        [maxFileSize]="1000000"
        label="Import"
        chooseLabel="Import"
        class="p-mr-2 p-d-inline-block"
      ></p-fileUpload>
      <button
        pButton
        pRipple
        label="Export"
        icon="pi pi-upload"
        class="p-button-help"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="products"
    class="product-table"
    [paginator]="true"
    [rows]="10"
    [responsive]="true"
    [globalFilterFields]="['title']"
  >
    <ng-template pTemplate="caption">
      <div
        class="p-d-flex p-ai-center p-jc-between d-flex justify-content-between"
      >
        <h5 class="p-m-0">Manage Products</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            class="p-inputtext p-component"
            type="text"
            (input)="dt.filterGlobal($any($event.target)?.value, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="title">
          Name <p-sortIcon field="title"></p-sortIcon>
        </th>
        <th pSortableColumn="image">
          Image <p-sortIcon field="image"></p-sortIcon>
        </th>
        <th pSortableColumn="price">
          Price <p-sortIcon field="price"></p-sortIcon>
        </th>
        <th pSortableColumn="discount">
          Discount <p-sortIcon field="discount"></p-sortIcon>
        </th>
        <th pSortableColumn="afterDiscount">
          After Discount <p-sortIcon field="afterDiscount"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          {{ product.title }}
        </td>
        <td>
          <img
            src="{{ url }}{{ 'storage/' }}{{
              product.image ?? 'images/No_image_available.png'
            }}"
            class="img-responsive"
            width="100%"
          />
        </td>
        <td>
          {{ product.price | currency: "EUR":"symbol":"1.2-2" }}
        </td>
        <td>{{ product.discount }}%</td>
        <td>
          {{
            cartService.getDiscountPrice(product)
              | currency: "EUR":"symbol":"1.2-2"
          }}
        </td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success p-mr-2"
            (click)="editProduct(product)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteProduct(product)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="productDialog"
  [style]="{ width: '450px' }"
  header="Product Details"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="title">Name</label>
      <input
        type="text"
        pInputText
        id="title"
        [(ngModel)]="product.title"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !product.title"
        >Name is required.</small
      >
    </div>
    <div class="p-field">
      <label for="description">Description</label>
      <textarea
        id="description"
        pInputTextarea
        [(ngModel)]="product.description"
        required
        rows="3"
        cols="20"
      ></textarea>
    </div>
    <div class="p-field">
      <label for="category">Category</label>
      <p-dropdown
        [(ngModel)]="product.category_id"
        inputId="category"
        [options]="categories"
        placeholder="Select"
        optionLabel="title"
        optionValue="id"
      >
        <ng-template let-option pTemplate="item">
          <span [class]="'product-badge status-' + option.id">{{
            option.title
          }}</span>
        </ng-template>
      </p-dropdown>
    </div>

    <div class="p-field">
      <label for="category">Product Image</label>
      <p-fileUpload
        #fileInput
        mode="basic"
        accept="image/*"
        [maxFileSize]="1000000"
        label="Choose"
        [chooseLabel]="
          product.image
            ? getImageTitleString(product.image.toString())
            : 'Choose'
        "
        class="p-mr-2 p-d-inline-block"
        (onSelect)="onImageSelect($event)"
      ></p-fileUpload>
    </div>

    <div class="p-formgrid p-grid">
      <div class="p-field p-col">
        <label for="price">Price</label>
        <p-inputNumber
          id="price"
          [(ngModel)]="product.price"
          suffix="€"
        ></p-inputNumber>
      </div>
      <div class="p-field p-col">
        <label for="discount">Discount</label>
        <p-inputNumber
          id="discount"
          [(ngModel)]="product.discount"
          [min]="0"
          [max]="100"
        ></p-inputNumber>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="back()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="onSubmit()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog></p-confirmDialog>

<p-toast key="products-toast"></p-toast>

<app-loader [loading]="loading"></app-loader>
