<h3 class="text-center">Products</h3>

<p-toolbar styleClass="p-mb-4">
  <ng-template pTemplate="left">
    <button
      pButton
      pRipple
      label="New"
      icon="pi pi-plus"
      class="p-button-success p-mr-2"
      (click)="openNew()"
    ></button>
  </ng-template>

  <ng-template pTemplate="right">
    <p-fileUpload
      mode="basic"
      accept="image/*"
      [maxFileSize]="1000000"
      label="Import"
      chooseLabel="Import"
      class="p-mr-2 p-d-inline-block"
    ></p-fileUpload>
    <button
      pButton
      pRipple
      label="Export"
      icon="pi pi-upload"
      class="p-button-help"
    ></button>
  </ng-template>
</p-toolbar>

<p-table
  #dt
  [value]="products"
  class="product-table"
  [paginator]="true"
  [rows]="15"
  [responsive]="true"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      <h5 class="p-m-0">Manage Products</h5>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($any($event.target)?.value, 'contains')"
          placeholder="Search..."
        />
      </span>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="image">
        Image <p-sortIcon field="image"></p-sortIcon>
      </th>
      <th pSortableColumn="title">
        Name <p-sortIcon field="title"></p-sortIcon>
      </th>
      <th pSortableColumn="price">
        Price <p-sortIcon field="price"></p-sortIcon>
      </th>
      <th pSortableColumn="discount">
        Discount <p-sortIcon field="discount"></p-sortIcon>
      </th>
      <th pSortableColumn="afterDiscount">
        After Discount <p-sortIcon field="afterDiscount"></p-sortIcon>
      </th>
      <th></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-product>
    <tr>
      <td>
        <img
          src="{{ url }}{{ 'storage/' }}{{
            product.image ?? 'images/No_image_available.png'
          }}"
          class="img-responsive"
          width="150"
        />
      </td>
      <td>
        {{ product.title }}
      </td>
      <td>
        {{ product.price | currency: "EUR":"symbol":"1.2-2" }}
      </td>
      <td>{{ product.discount }}%</td>
      <td>
        {{
          cartService.getDiscountPrice(product)
            | currency: "EUR":"symbol":"1.2-2"
        }}
      </td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success p-mr-2"
          (click)="editProduct(product)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
          (click)="deleteProduct(product)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  header="Product Details"
  [(visible)]="productDialog"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
>
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="product">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group" [class.has-error]="errors?.title">
        <label for="title">Name</label>
        <input
          type="text"
          name="title"
          id="title"
          class="form-control"
          ngModel
          required
          autofocus
        />
        <span class="help-block" *ngIf="errors?.title">
          <strong>{{ errors.title }}</strong>
        </span>
      </div>
      <div class="form-group" [class.has-error]="errors?.category">
        <label for="category">Category</label>
        <select class="form-control" name="category" ngModel>
          <option
            *ngFor="let category of categories"
            value="{{ category.title }}"
          >
            {{ category.title }}
          </option>
        </select>
        <span class="help-block" *ngIf="errors?.category">
          <strong>{{ errors.category }}</strong>
        </span>
      </div>
      <div class="form-group" [class.has-error]="errors?.image">
        <label for="image">Image</label>
        <input
          type="file"
          id="image"
          #fileInput
          name="image"
          class="form-control"
          ngModel
          required
        />
        <span class="help-block" *ngIf="errors?.image">
          <strong>{{ errors.image }}</strong>
        </span>
      </div>
      <div class="form-group col-md-6 price" [class.has-error]="errors?.price">
        <label for="price">Price</label>
        <input
          type="text"
          id="price"
          name="price"
          class="form-control"
          ngModel
          required
        />
        <span class="help-block" *ngIf="errors?.price">
          <strong>{{ errors.price }}</strong>
        </span>
      </div>
      <div class="form-group col-md-6" [class.has-error]="errors?.discount">
        <label for="discount">Discount</label>
        <input
          type="text"
          id="discount"
          name="discount"
          class="form-control"
          ngModel
          required
        />
        <span class="help-block" *ngIf="errors?.discount">
          <strong>{{ errors.discount }}</strong>
        </span>
      </div>
      <div
        class="form-group description"
        [class.has-error]="errors?.description"
      >
        <label for="description">Description</label>
        <textarea
          id="description"
          name="description"
          class="form-control"
          ngModel
          required
        ></textarea>
        <span class="help-block" *ngIf="errors?.description">
          <strong>{{ errors.description }}</strong>
        </span>
      </div>

      <button
        type="button"
        class="btn btn-primary btn-lg pull-right"
        (click)="back()"
      >
        Back
      </button>
      <button type="submit" class="btn btn-success btn-lg pull-right">
        Create
      </button>
    </form>
  </div>
</p-dialog>

<p-confirmDialog></p-confirmDialog>

<p-toast></p-toast>

<app-loader [loading]="loading"></app-loader>
