.description {
  display: block;
  label {
    width: 100%;
  }
}

.price {
  margin-bottom: 5px;
}

.pheadtext {
  line-height: 35px;
}

i {
  margin-right: 4px;
}

.sbutton {
  padding: 5px;
  margin: 4px 0;
}
