.container {
    min-height: calc(100vh - 319px);
    margin-top: 20px;
}

.help-block {
    strong {
        display: block;
    }
}

@media (max-width: 768px) {
    .container{
        min-height: calc(100vh - 240px);
    }
}