<div class="container-fluid">
  <h1 class="text-center">Admin Dashboard</h1>

  <div class="row">
    <div class="col-lg-offset-1 col-lg-2 col-sm-2">
      <div class="sidebar-nav" id="myMenu">
        <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target=".sidebar-navbar-collapse"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand">Admin Sidebar</span>
          </div>
          <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav">
              <li>
                <a
                  routerLink="products"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  ><i class="fa fa-industry" aria-hidden="true"></i>Products</a
                >
              </li>
              <li>
                <a
                  routerLink="users"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  ><i class="fa fa-user-o" aria-hidden="true"></i>Users</a
                >
              </li>
              <li>
                <a
                  routerLink="categories"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  ><i class="fa fa-list" aria-hidden="true"></i>Categories</a
                >
              </li>
              <li>
                <a
                  routerLink="orders"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  ><i class="fa fa-shopping-bag" aria-hidden="true"></i
                  >Orders</a
                >
              </li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>

        <div class="sidebar-nav" id="myMenu">
          <ul class="nav navbar-light flex-column">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                routerLink="products"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                ><i class="pi pi-briefcase"></i>Products</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="users"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                ><i class="pi pi-user"></i>Users</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="categories"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                ><i class="pi pi-list"></i>Categories</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="orders"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                ><i class="pi pi-shopping-cart"></i>Orders</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-sm-10 admin-view">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
