.container-fluid {
  background-color: rgb(54, 58, 80);
  color: rgb(221, 221, 221);
  .sidebar-nav {
    .nav-link {
      color: #dee2e6;
      &:hover,
      &.active {
        color: #f8f9fa;
        font-weight: bold;
      }
    }
  }
}
